<!DOCTYPE html>
<html>

<head>
    <!-- <title>Please download file</title> -->
    <style>
        a {
            color: black !important;
        }
    </style>
    <link rel="stylesheet" href="../static/css/models.css">

</head>

<body>
    <div class="navigation">
        <nav>
            <ul class="list">
                <li class="head">Download your file</li>
                <li class="list-item"><a href="/dashboard">Home</a></li>
                <!-- <li class="list-item"><a href="/users/templates">Templates</a></li> -->
            </ul>
        </nav>
    </div>
    <br>
    <h3>please download a file</h3>
    <br>
    <a href="/static/file/results2.csv" download>Click here to Download file</a>

</body>

</html>