<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <!-- <style>
        div#content {
            display: none;
        }

        /* div#loading {
            width: 35px;
            height: 35px;
            display: none;
            background: url(/static/loading.gif) no-repeat;
            cursor: wait;
        } */
    </style> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script type="text/javascript">// <![CDATA[
        function loading() {
            $("#loading").show();
            $("#content").hide();
        }
    // ]]></script> -->

</head>


<body>

    <div id="content">
        <form action="/datafile" method="POST" enctype="multipart/form-data">
            <input type="file" name="csvfile" id="csvfile">
            <!-- <div class="mb">
                <label for="">Please Enter Model name: </label>
            </div> -->
            <!-- <div>
                <input type="text" name="modelname" placeholder="Enter model name" class="input">
            </div> -->
            <!-- <div>
                <input type="submit" name="anything_submit" value="Submit" onclick="loading();">
            </div> -->
            <div>
                <button type="submit" onclick="$('#loading').show();">
                    Upload File
                </button>
            </div>
        </form>
        <div id="loading" style="display:none;"><img src="/static/loading.gif" alt="" />In Progress Please Wait...</div>
    </div>
    <!-- <div id="loading"></div> -->


</body>


</html>